<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.app.dao.IJobsDao">

    <resultMap id="jobResultMap" type="com.solvd.app.tables.Jobs">
        <id column="id_jobs" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <association property="code" javaType="com.solvd.app.tables.CodeSalaries">
            <id column="code" property="id"/>
            <result column="salary" property="salary"/>
        </association>
    </resultMap>


    <select id="getAll" resultMap="jobResultMap">
        SELECT j.id_jobs,j.name,j.description,j.code,c.salary
        FROM jobs j inner join codesalaries c on j.code = c.id_code
    </select>

    <select id="get" resultMap="jobResultMap">
        SELECT j.id_jobs,j.name,j.description,j.code,c.salary
        FROM jobs j inner join codesalaries c on j.code = c.id_code
        WHERE id_jobs=#{id}
    </select>

    <delete id="delete">
        DELETE
        FROM jobs
        WHERE id_jobs=#{id}
    </delete>


    <insert id="create">
        INSERT INTO jobs (id_jobs,name,description,code)
        VALUES (#{id},#{name},#{description},#{code.id})
    </insert>

    <update id="update">
        UPDATE jobs
        SET name=#{name},description=#{description},code=#{code.id}
        WHERE id_jobs=#{id}
    </update>

</mapper>