<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.app.dao.ICodeSalariesDao">


    <resultMap id="salaryResultMap" type="com.solvd.app.tables.CodeSalaries">
        <id column="id_code" property="id"/>
        <result column="salary" property="salary"/>
    </resultMap>

    <sql id="body">
        c.id_code,
        c.salary
    </sql>

    <select id="getAll" resultMap="salaryResultMap">
        SELECT *
        FROM codesalaries
    </select>

    <select id="get" resultMap="salaryResultMap">
        SELECT
        <include refid="body"/>
        FROM codesalaries c
        WHERE id_code=#{id}
    </select>

    <delete id="delete">
        DELETE
        FROM codesalaries c
        WHERE id_code=#{id}
    </delete>

    <update id="update">
        UPDATE codesalaries
        SET salary=#{salary}
        WHERE id_code=#{id}
    </update>

    <insert id="create">
        INSERT INTO codesalaries (id_code,salary)
        VALUES (#{id},#{salary})
    </insert>

</mapper>