<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.app.dao.ISpecsDao">

    <resultMap id="specResultMap" type="com.solvd.app.tables.Specs">
        <id column="id" property="id"/>
        <result column="op" property="operating_system"/>
        <result column="model" property="model"/>
        <result column="memory" property="memory"/>
        <result column="sys" property="system_manufacturer"/>
    </resultMap>


    <sql id="body">
        s.id,
        s.operating_system as op,
        s.model,
        s.memory,
        s.system_manufacturer as sys
    </sql>

    <select id="getAll" resultMap="specResultMap">
        SELECT
        <include refid="body"/>
        FROM specs s
    </select>


    <select id="get" resultMap="specResultMap">
        SELECT
        <include refid="body"/>
        FROM specs s
        WHERE id=#{id}
    </select>

    <delete id="delete">
        DELETE
        FROM specs
        WHERE id=#{id}
    </delete>

    <update id="update">
        UPDATE specs
        SET operating_system=#{operating_system},model=#{model},memory=#{memory},
            system_manufacturer=#{system_manufacturer}
        WHERE id=#{id}
    </update>

    <insert id="create">
        INSERT INTO specs (id,operating_system,model,memory,system_manufacturer)
        VALUES (id,operating_system,model,memory,system_manufacturer)
    </insert>

</mapper>