<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.app.dao.jdbc.ITechnologiesDao">


    <resultMap id="techResultMap" type="com.solvd.app.models.Technologies">
        <id column="tech_id" property="id"/>
        <result column="name" property="name"/>
        <result column="pc" property="pc"/>
        <result column="leptop" property="leptop"/>
        <association property="specs" javaType="com.solvd.app.models.Specs">
            <id column="specs" property="id"/>
            <result column="op" property="operating_system"/>
            <result column="model" property="model"/>
            <result column="memory" property="memory"/>
            <result column="sys" property="system_manufacturer"/>
        </association>
    </resultMap>


    <select id="getAll" resultMap="techResultMap">
        SELECT t.id_technologies as tech_id,t.name,t.pc,t.leptop,t.specs,s.operating_system as op,s.model,s.memory,s.system_manufacturer as sys
        FROM technologies t inner join specs s on t.specs = s.id
    </select>

    <select id="get" resultMap="techResultMap">
        SELECT t.id_technologies as tech_id,t.name,t.pc,t.leptop,t.specs,s.operating_system as op,s.model,s.memory,s.system_manufacturer as sys
        FROM technologies t inner join specs s on t.specs = s.id
        WHERE id_technologies=#{id}
    </select>

    <delete id="delete">
        DELETE
        FROM technologies
        WHERE id_technologies=#{id}
    </delete>

    <insert id="create">
        INSERT INTO technologies (id_technologies,name,pc,leptop,specs)
        VALUES (#{id},#{name},#{pc},#{leptop},#{specs.id})
    </insert>

    <update id="update">
        UPDATE technologies
        SET name=#{name},pc=#{pc},leptop=#{leptop},specs=#{specs.id}
        WHERE id_technologies=#{id}
    </update>


</mapper>